body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header__body {
    width: 100%;
    height: 160px;
    margin: 0 auto;
    position: relative;
}

.header__nav {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    display: flex;
}

.header__logo {
    justify-content: space-between;
    display: flex;
    width: 266px;
}

.title__logo {
    margin: 46px 0 90px 46px;
    width: 156px;
    height: 24px;
    right: 1116px;
    top: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 21px;
    text-align: right;
}

.header__logo img {
    margin: 39px 0 83px 26px;
    height: 37px;
}

.header__menu {
    width: 298px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    margin: 41px 0 98px 0px;

}

.header__menu a {
    height: 21px;
    left: 79.39%;
    right: 4.85%;
    top: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2A2A2A;
}

.header__search {
    width: 263px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    margin: 41px 121px 98px 0px;

}

.header__search a {
    height: 18px;
    left: 11.43%;
    right: 18.57%;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2A2A2A;
    border-right: 1px solid #2A2A2A;
}

.header__search img {
    border-right: 1px solid #2A2A2A;
    width: 21px;
    height: 14px;
}